.container {
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.header {
    padding: 10px;
}

.heading {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    flex: 1;
}

.refBtn {
    border: 1px solid black;
    background-color: cornflowerblue;
}

.refBtn:hover {
    background-color: black;
}

.references {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.refInfo {
    flex: 3;
    align-self: center;
}

.reference {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: cornflowerblue;
}

.imgContainer {
    width : 150px;
    height: 150px;
    align-self: center;
}