.container {
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    overflow: scroll;
}

.header {
    border : 1px solid black;
    padding: 10px;
    overflow-wrap: break-word;
    background-color: cornflowerblue;
    justify-content: center;
}

.transactionID {
    font-weight: bolder;
    font-size: 25px;
    justify-content: center;
    font-style: italic;
    text-align: center;
}

.infoContainer {
    flex : 13 ,
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.feedbackbox {
    display: flex;
    flex: 1;
    border : 3px solid black;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.ratingbox {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.feedback {
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    margin: 10px;
}