.container {
    width: 100%;
    overflow: auto;
    padding: 10px;
}

.header {
    padding: 10px;
    justify-content: center;
    background-color: cornflowerblue;
}

.heading {
    font-weight: bolder;
    font-size: large;
}

.contentContainer {
    flex: 1;
}

.tbContainer {
    flex: 1;
}

.tbHead {
    text-align: center;
    background-color: cornflowerblue;
    font-size: medium;
    font-weight: bolder;
}

.tbData {
    text-align: center;
}

.LOWpriority {
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    font-weight: bold;
    background-color: lime;
    margin: auto;
}

.MEDIUMpriority{
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    width: fit-content;
    background-color: yellow;
    margin: auto;
}

.HIGHpriority {
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    width: fit-content;
    padding: 0px 10px;
    background-color: red;
    margin: auto;
}