.container {
    display: flex;
    width: 100%;
    padding: 10px;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}

.header {
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

.heading {
    font-size: medium;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.body {
    flex: 1;
    overflow: auto;
}

.applicants {
    border: 1px solid black;
    width: 100%;
}

.tbHead {
    border: 1px solid black;
    font-size: small;
    padding : 10px;
    background-color: cornflowerblue;
    font-style: italic;
}

.tbData {
    text-align: center;
    padding: 10px;
    font-size: small;
    font-style: italic;
}

.submittedBtn {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cornflowerblue;
    font-weight: bold;
    font-size: small;
    font-style: italic;
    cursor: pointer;
}

.modal {
    width: fit-content;
    height: fit-content;
    overflow: auto;
    margin : auto;
    margin-top: 150px;
}

.submittedBtn:hover {
    background-color: black;
    color: white;
}

.spinnerContainer {
    width: fit-content;
    position: absolute;
    top : 45%;
    left: 50%;
}


@media (max-width : 749px) and (min-width : 350px) {
    .modal {
        margin-top: 120px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width : 750px) {
    .tbHead {
        font-size: medium;
    }
    .heading {
        font-size: large;
    }
    .tbData {
        font-size: small;
    }
    .submittedBtn {
        font-size: small;
    }
}


@media screen and (min-width : 800px) {
    .tbHead {
        font-size: large;
    }
    .heading {
        font-size: x-large;
    }
    .tbData {
        font-size: medium;
    }
    .submittedBtn {
        font-size: medium;
    }
}

@media screen and (min-width : 992px) {
    .tbHead {
        font-size: x-large;
    }
    .heading {
        font-size: xx-large;
    }
    .tbData {
        font-size: large;
    }
    .submittedBtn {
        font-size: large;
    }
}