.container {
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.heading {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: x-large;
}

.submittedBtn {
    border: 1px solid black;
    color: black;
    font-weight: bolder;
    font-size: xx-small;
    background-color: cornflowerblue;
}

.tbHead {
    padding : 10px;
    background-color: cornflowerblue;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    width: 20%;
}

.tbData {
    text-align: center;
}

.submittedBtn:hover {
    background-color: black;
    color: white;
}

.spinnerContainer {
    width: fit-content;
    position: absolute;
    top : 45%;
    left: 50%;
}
