.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px;
    align-items: center;
    overflow: auto;
}

.images { 
    display: flex;
    flex-direction: row;
    margin: 10px;
}

@media (min-width : 100px) and (max-width : 600px) {
    .container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .images { 
        flex-direction: column;
    }
}