.container {
    padding: 10px;
    width: 100%;
    overflow: auto;
}

.header {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.heading {
    margin-left: 10px;
    margin-right: 10px;
    font-size: x-large;
    font-weight: bolder;
}

.spinnerContainer {
    width: fit-content;
    position: absolute;
    top : 45%;
    left: 50%;
}

.filterContainer { 
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    cursor: pointer;
    font-size: xx-small;
}

.filterContainer:hover {
    background-color: black;
    color: white;
}

.requestee {
    border: 1px solid black;
    display: flex;
    width: 230px;
    padding: 10px;
    align-items: center;
    justify-content:space-around;
    background-color: cornflowerblue;
    margin: 10px;
    border-radius: 10px;
}

.contactInfo {
    font-style: italic;
    text-align: center;
    font-size: 10px;
}

.requesteeName {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.filterText {
    font-size: medium;
}

.tile {
    border : 2px solid black;
    background-color :blanchedalmond;
    border-radius: 10px;
    
}

.calendar {
    border : 2px solid black;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    background-color: cornflowerblue;
}

.tbHead {
    text-align: center;
    font-weight: bolder;
    background-color: cornflowerblue;
    font-size: large;
}

.tbData {
    text-align: center;
    font-size: medium;
}

.viewBtn {
    border: 1px solid black;
    background-color: cornflowerblue;
    color : black;
    font-size: small;
}

.dateText { 
    margin-left : 10px; 
    font-weight : bold; 
    font-style : italic;
    font-size : medium 
}

@media screen and (min-width : 400px) {
    .tbHead {
        font-size: small;
    }    
    .tbData {
        font-size: x-small;
    }    
    .heading {
        font-size: medium;
    }
    .filterText {
        font-size: x-small;
    }
    .dateText {
        font-size: x-small;
    }
    .viewBtn {
        font-size: xx-small;
    }
}

@media screen and (min-width : 700px) {
    .tbHead {
        font-size: medium;
    }    
    .tbData {
        font-size: small;
    }    
    .heading {
        font-size: large;
    }
    .filterText {
        font-size: small;
    }
    .dateText {
        font-size: small;
    }
    .viewBtn {
        font-size: x-small;
    }
}

@media screen and (min-width : 900px) {
    .tbHead {
        font-size: large;
    }    
    .tbData {
        font-size: medium;
    }    
    .heading {
        font-size: x-large;
    }
    .filterText {
        font-size: medium;
    }
    .dateText {
        font-size: medium;
    }
    .viewBtn {
        font-size: small;
    }
}