.container { 
    width : 100%;
    padding: 10px;
    overflow: auto;
}

.header {
    padding: 10px;
}

.heading {
    text-align: center;
    flex: 1;
    font-weight: bolder;
    font-size: x-large;
}

.filter {
    height : 40px
}

.spinnerContainer {
    width: fit-content;
    position: absolute;
    top : 45%;
    left: 50%;
}

.tbHead {
    text-align: center;
    font-weight: bolder;
    background-color: cornflowerblue;
    width : 35%;
    font-size: large;
}

.tbData {
    text-align: center;
}

.userbtn {
    background-color: cornflowerblue;
    color : black
}

.userbtn:hover{
    background-color: black;
    color: white;
}