.container {
    display: flex;
    flex: 1;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    flex-direction: column;
}

.header {
    flex : 1;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.body {
    flex: 18;
}

.heading {
    flex: 1;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.filter {
    border : 1px solid black;
    border-radius: 10px;
    background-color: cornflowerblue;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.table {
    border : 3px solid black;
    margin: 10px;
    width: 98%;
}

.tbHead {
    border: 3px solid black;
    padding: 10px;
    font-style: italic;
    font-size: x-large;
    background-color: cornflowerblue;
}

.tbData {
    text-align: center;
    padding: 10px;
    font-size: large;
    font-style: italic;
}

.statusBtn {
    border : 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: cornflowerblue;
    font-weight: bolder;
    font-style: italic;
}

.statusBtn:hover{
    background-color: black;
    color: white;
}

@media Screen and (min-width : 150px) {
    .tbHead {
        font-size: small;
    }
    
    .tbData {
        font-size: x-small;
    }
    .heading {
        font-size: medium;
    }
}

@media Screen and (min-width : 570px) {
    .tbHead {
        font-size: medium;
    }
    
    .tbData {
        font-size: small;
    }
    .heading {
        font-size: large;
    }
}

@media Screen and (min-width : 650px) {
    .tbHead {
        font-size: large;
    }
    
    .tbData {
        font-size: medium;
    }
    .heading {
        font-size: x-large;
    }
}


@media Screen and (min-width : 992px) {
    .tbHead {
        font-size: x-large;
    }
    
    .tbData {
        font-size: large;
    }
    .heading {
        font-size: xx-large;
    }
}